@font-face {
    font-family: 'Harabara';
    src: url('../fonts/Harabara-Mais.otf');
}

@font-face {
    font-family: 'Harabara-Mais-BdIt';
    src: url('../fonts/Harabara-Mais-BdIt.otf');
}

@font-face {
    font-family: 'Harabara-Mais-Black';
    src: url('../fonts/Harabara-Mais-Black.otf');
}

@font-face {
    font-family: 'Harabara-Mais-Black-Italic';
    src: url('../fonts/Harabara-Mais-Black-Italic.otf');
}

@font-face {
    font-family: 'Harabara-Mais-Bold';
    src: url('../fonts/Harabara-Mais-Bold.otf');
}

@font-face {
    font-family: 'Harabara-Mais-Italic';
    src: url('../fonts/Harabara-Mais-Italic.otf');
}

@font-face {
    font-family: 'Harabara-Mais-Light';
    src: url('../fonts/Harabara-Mais-Light.otf');
}

@font-face {
    font-family: 'Harabara-Mais-LtIt';
    src: url('../fonts/Harabara-Mais-LtIt.otf');;
}
