/**
 * Name: uRyde
 * Version: 1.0
 * Author: PSD II
 *
 *
 *
/* ---------------------------------------------- /*
 * Modal styles
/* ---------------------------------------------- */

.modal-header, .modal-body, .modal-footer  {
    text-align: center;
    color: #000;
}
.modal-header, .modal-footer {
    background: #007FFF;
}

.modal-header h2 {
    color: #F5F5F5;
}

#join {
    color: #F5F5F5;
    background: #007FFF;
    padding: 15px 25px;
    border: 2px solid #F5F5F5;
}

#join:hover {
    color: #007FFF;
    background: #F5F5F5;
}
