/**
 * Name: uRyde
 * Version: 1.0
 * Authors: PSD II & HAM II (ph7);
 *
 *
 *
/* ---------------------------------------------- /*
 * General styles
@import url(http://fonts.googleapis.com/css?family=Raleway:400,700,300);
@import url(http://fonts.googleapis.com/css?family=Lato:300,300italic);
/* ---------------------------------------------- */



body {
	background: #FFF;
	font: 300 16px/1.8 'Harabara', sans-serif;
    color: #F5F5F5;
	text-align: center;
}

img {
	max-width: 100%;
	height: auto;
}

a, .bioName {
	font-weight: 900;
	color: #007FFF;
}

ul {
	padding: 0;
	list-style-type: none;
}

/* Custom updates

    border: 4px dashed #FFF; for border
------------------------------------------------- */
.bio {
    text-align: left;
	padding: 30px;
    border-radius: 10px;
    margin: 15px 0px 30px 0px;
}

.view_site {
	font-style: inherit;
	font-size: 16px;
	text-align: center;
}

.cto {
    text-align: right;
}

.special, .launch {
	color: #ffd700;
}

#featLink {
    color: #F5F5F5;
    border: none;
    background-color: transparent;
    font-size: 18px;
}

#featLink:hover {
    color: #007FFF;
}

.launch {
    border: 1px solid #F5F5F5;
    border-radius: 20px;
    margin-top: 30px;
    font-size: 24px;
    padding: 10px 0px;
}

.bioInfo {
    font-size: 16px;
}

#squadButton {
    color: #F5F5F5;
    background: #007FFF;
    padding: 15px 25px;
    border: 2px solid #F5F5F5;
}

#squadButton:hover {
    color: #007FFF;
    background: #F5F5F5;
}

.notification-item{
	width: 60%;
	margin: 0 auto;
}

p {
	font-family: Harabara-Mais-Light;
}

p.left {
	text-align: left;
}

p.right {
	text-align: right;
}


/* Transition elements
------------------------------------------------- */

a,
.btn,
.form-control {
	-webkit-transition: all 0.125s ease-in-out 0s;
	   -moz-transition: all 0.125s ease-in-out 0s;
		-ms-transition: all 0.125s ease-in-out 0s;
		 -o-transition: all 0.125s ease-in-out 0s;
			transition: all 0.125s ease-in-out 0s;
}

/* Reset box-shadow
------------------------------------------------- */

.btn,
.form-control,
.form-control:hover,
.form-control:focus {
	-webkit-box-shadow: none;
			box-shadow: none;
}

/* Border-radius
------------------------------------------------- */

.btn,
.form-control,
.features-item-icon {
	-webkit-border-radius: 10px;
	   -moz-border-radius: 10px;
		 -o-border-radius: 10px;
			border-radius: 10px;
}

/* Inputs styles
------------------------------------------------- */

.form-control {
	background: #F5F5F5;
	border: 0 !important;
}

/* Custom button style
------------------------------------------------- */

.btn {
	color: #F5F5F5;
	padding: 15px 25px;
	margin: 5px;
}

.btn-theme {
	background: transparent;
	border: 2px solid #007FFF;
}

.btn-theme i {
	margin-right: 6px;
}

.btn-theme:hover,
.btn-theme:focus,
.btn-theme:active,
.btn-theme.active {
	background: #007FFF;
	border: 2px solid #007FFF;
	outline: inherit !important;
	color: #F5F5F5;
}

/* Typography
------------------------------------------------- */

h1, h2, h3, h4, h5 {
	font-family: 'Harabara', sans-serif;
	font-weight: 100;
	line-height: 1.2;
	color: #F5F5F5;
	margin: 0 0 15px;
}

h1 { font-size: 46px; margin: 0 0 25px; }

h2 { font-family: Harabara-Mais-Bold; font-size: 42px; color: #000; }

h3 { font-family: Harabara-Mais-Bold; font-size: 20px; color: #000; }

h4 { font-size: 18px; }

h5 { font-size: 16px;}

.btn,
.form-control {
	font-family: 'Harabara', sans-serif;
	font-weight: 700;
	font-size: 15px;
}

/* ---------------------------------------------- /*
 * General rules
/* ---------------------------------------------- */

.container {
	max-width: 920px;
}

.subtitle {
	margin: 0 0 30px;
}

.subtitle p {
	font-size: 18px;
}

.header-divider {
	background: #d9d9d9;
	width: 60px;
	height: 3px;
	margin: 0 auto 15px;
}

#particles-js {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 1;
}

/* Intro section
------------------------------------------------- */

.intro, .footer {
	background-color: rgba(0, 0, 0, .7) !important;
	background-image: url("../images/bg.png") !important;
	padding: 50px 0;
	z-index: auto !important;
	color: #F5F5F5;
	position: relative;
}
/*
.footer {
	background-color: #007FFF;
	padding: 25px 0 25px 0;
}
*/

.intro > .container {
	position: relative;
	z-index: 2;
}

.i_header, .i_cicle, .i_footer {
	margin: 0 0 25px 0;
}

.i_header {
	font-size: 20px;
	margin: 0 0;
}

.i_cicle {
	max-width: 780px;
	margin: 0 auto;
}

.logo {
	margin: 0 0 25px;
}

/* About
------------------------------------------------- */

.about {
	background: #F5F5F5;
	padding: 75px 0 45px 0;
	font-size: 26px;
	color: #000;
}

/* Features
------------------------------------------------- */

.features {
	background: #007FFF;
	padding: 90px 0;
}

.features-item {
	padding: 15px 0 30px;
}

.features-item-icon {
	border: 2px solid #F5F5F5;
	width: 62px;
	height: 62px;
	margin: 0 auto 30px;
	font-size: 28px;
	line-height: 58px;
}

.features-item-icon {
	-webkit-transform: rotate(-45deg);
	   -moz-transform: rotate(-45deg);
		-ms-transform: rotate(-45deg);
		 -o-transform: rotate(-45deg);
			transform: rotate(-45deg);
}

.features-item-icon i {
	-webkit-transform: rotate(45deg);
	   -moz-transform: rotate(45deg);
		-ms-transform: rotate(45deg);
		 -o-transform: rotate(45deg);
			transform: rotate(45deg);
}

/* Footer
------------------------------------------------- */

.footer, .footer h2, .footer h3 {
	color: #F5F5F5;
}

.subscription-form .input-box {
	padding: 6px 20px;
	height: 55px;
	width: 350px;
}

.subscription-message {
	display: none;
}

/* Socials links
------------------------------------------------- */

#share {
	margin: 90px 0 0;
}

.socials-links {
	list-style: none;
	padding: 0;
	margin: 0;
}

.socials-links li {
	display: inline-block;
	margin: 0 7px;
	font-size: 28px;
}

/* ---------------------------------------------- /*
 * Time circles
/* ---------------------------------------------- */

.time_circles {
	position: relative;
	width: 100%;
	height: 100%;
}

.time_circles > div {
	position: absolute;
	text-align: center;
}

.time_circles > div > h4 {
	margin: 0px;
	padding: 0px;
}

.time_circles > div > span {
	display: block;
	width: 100%;
	margin-top: 0.4em;
	font-weight: 700;
	font-size: 300%;
	font-family: 'Harabara', serif;
}

/* ---------------------------------------------- /*
 * Preloader
/* ---------------------------------------------- */

#preloader {
	background: #F5F5F5;
	bottom: 0;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 9999;
}

#status {
	background-image: url(../images/728.GIF);
	background-position: center;
	background-repeat: no-repeat;
	height: 200px;
	left: 50%;
	margin: -100px 0 0 -100px;
	position: absolute;
	top: 50%;
	width: 200px;
}

/* ---------------------------------------------- /*
 * Media
/* ---------------------------------------------- */

@media (max-width: 767px) {

	.features {
		padding: 90px 0 60px;
	}

	.features-item {
		margin: 0 auto 30px;
	}

	.subscription-form .input-box{
		margin: auto;
		width: 80%;
		margin-bottom: 10px;
	}

}
